@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}



.nav-link{
    contain: layout;
    justify-content: center;
    display: flex;
}
.contain-layout{
    contain: layout;
}

@include media-breakpoint-up(xs) {
    .navbar-nav {
        justify-content: left;
        display: block;
        margin-top: 1.5rem;
        .nav-item{
            text-align: start;
            display: flex;
        }
    }
    nav .container{
        padding: 1.5rem;
    }
}

@include media-breakpoint-up(md){
    
    a.nav-link.active::after {
        content: "";
        position: absolute;
        width: -webkit-fill-available;
        height: 0.31rem;
        margin-top: 3.9rem;
        margin-right: var(--ihunt-navbar-nav-link-padding-x);
        margin-left: var(--ihunt-navbar-nav-link-padding-x);
        background: #430087;
    }
    .nav-item.active.nav-link {
        color: $primary;
    }

    .navbar-nav {
        display: flex;
        margin-top: initial;
        
    }
    nav .container{
        padding: initial;
    }
}


.navbar-expand-lg .navbar-nav .dropdown-menu.lang-list{
    position: absolute;
    border-radius: 10px;
    width: 20px;
    min-width: 95.84px;
    left: -53.6px;
    top: -1.3rem;
    z-index: 2;
}

.navbar-expand-lg .navbar-nav .dropdown-menu.lang-list .active a::before {
    content: "";
    background-image: url(../image/icono-check.svg);
    width: 20px;
    height: 20px;
    position: absolute;
    background-repeat: no-repeat;
    left: 7px;
    margin-top: 5px;
    align-items: center;
    display: flex;
}

.after-none::after{
    display: none !important;
}

.card-img-content-section-2{
    height: 140px;
    align-items: center;
    display: flex;
}

.card{
    box-shadow: 0px 0px 5px 5px #0000000d;
    border-radius: 20px;
    border: none;
}
.section-2-card-h {
    min-height: 20rem;
}


.absolute-center{
    left: 0;
    right: 0;
}
#index-item-3{
    width: 100%;
    background-color: #43008A;
}

