
section#top-footer.mt-md-5.d-flex.justify-content-between.align-items-center  
    .container.px-md-0
        img(src="image/top-footer-background.png", alt="", srcset="").col-md-12.px-md-0.d-md-block.d-none
        img(src="image/top-footer-background-m.png", alt="", srcset="").col-md-12.px-md-0.d-md-none.d-block
    .container.position-absolute.mx-auto.absolute-center 
        .row.row-cols-md-2.row-cols-1 
            .col.order-2.order-md-1
                img(src="image/logo-w.svg", alt="", srcset="").logo-w
                p.text-white.mt-md-3 Hernando de Aguirre 268, Piso 6, Providencia #[br]
                    | Santiago, Chile #[br]
                    | #[a.text-white(href="mailto:contacto@ihunt.one") contacto@ihunt.one]
                .d-md-block.d-block.pt-md-3
                    a(href="https://cl.linkedin.com/company/ihuntplatform", target="_blank", rel="noopener noreferrer").pe-5.pe-md-3
                        img(src="image/icono-linkedin.svg", data-src="image/icono-linkedin-hover.svg" alt="", srcset="").icono-social
                    a(href="https://www.instagram.com/ihunt.one/", target="_blank", rel="noopener noreferrer").px-5.mx-5.px-md-0.mx-md-0
                        img(src="image/icono-instagram.svg", data-src="image/icono-instagram-hover.svg" alt="", srcset="").icono-social
                    a(href="https://www.facebook.com/ihunt.one", target="_blank", rel="noopener noreferrer").ps-5.ps-md-3
                        img(src="image/icono-facebook.svg", data-src="image/icono-facebook-hover.svg" alt="", srcset="").icono-social
            .col-md-4.col-xxl-4.ms-auto.justify-content-center.d-grid.order-1.order-md-2
                h2.text-white.text-center.font-1-7-em-lg.multilanguage(data-lang-key="footer.title")  ¿Quieres ser parte del mayor equipo de reclutadores independientes del mundo? 
                a.btn.btn-outline-light.mx-md-auto.mt-md-5.multilanguage(data-lang-key="footer.button", href="./join-ihunt.html")    ¡Súmate como iHunter ahora!
footer.footer.mt-auto.py-3.bg-primary
    .container.row.mx-auto.justify-content-between
        div.col-md-3.order-md-1.order-2
            small.text-white © 2022 iHunt 
        div.col-md-5.order-md-2.order-1
            .d-flex.justify-content-md-end
                a(href="./terms-conditions.html", target="_blank", rel="noopener noreferrer")
                    small.text-white #[u.multilanguage(data-lang-key="footer.terms") Terminos y Condiciones]
                a(href="./privacy-policy.html", target="_blank", rel="noopener noreferrer").ms-md-4.ms-5
                    small.text-white #[u.multilanguage(data-lang-key="footer.politic") Política de privacidad]
        