
section#top-footer.mt-md-5.d-flex.justify-content-between.align-items-center  
    .container.px-md-0
        img(src="image/top-footer-background.png", alt="", srcset="").col-md-12.px-md-0
    .container.position-absolute.mx-auto.absolute-center 
        .row.row-cols-2 
            .col
                img(src="image/logo-w.svg", alt="", srcset="")
                p.text-white.mt-md-5 Hernando de Aguirre 268, Piso 6, Providencia #[br]
                    | Santiago, Chile #[br]
                    | #[a.text-white(href="mailto:contacto@ihunt.one") contacto@ihunt.one]
            .col-md-5.col-xxl-4.ms-auto.justify-content-center.d-grid
                h2.text-white.text-center ¿Quieres ser parte del mayor equipo de reclutadores independientes del mundo? 
                a.btn.btn-outline-light.mx-md-auto.mt-md-5   ¡Súmate como iHunter ahora!
footer.footer.mt-auto.py-3.bg-primary
    .container.row.mx-auto.justify-content-between
        div.col-md-3
            small.text-white © 2022 iHunt 
        div.col-md-5
            .d-flex.justify-content-end
                a(href="http://", target="_blank", rel="noopener noreferrer")
                    small.text-white Terminos y Condiciones
                a(href="http://", target="_blank", rel="noopener noreferrer").ms-md-4
                    small.text-white Política de privacidad
        