head
    meta(charset="UTF-8")
    meta(name="description", content=page.description)
    meta(name="keywords", content=page.keywords)
    meta(name="author", content=page.author)
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{page.title}
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.css")
    link(rel="stylesheet", href="css/ihunt.css")
    link(rel="stylesheet", href="css/aos-dist.css")
    link(rel="stylesheet", href="css/toggle-menu.css")
    link(rel="stylesheet", href="css/style.css")
    //- link(rel="stylesheet", href="css/style.css")