nav.navbar.navbar-expand-lg.navbar-light.bg-white.border-bottom.py-md-3
    .container.px-md-0
        a.navbar-brand(href='#') #[image(src="image/logo.svg")]
        button.menu.navbar-toggler.border-0.button-toggle(onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label='Main Menu' type='button' data-bs-toggle='collapse' data-bs-target='#navbarText').d-md-none.d-block
            svg(width='35' height='35' viewBox='0 0 100 100')
                path.line.line1(d='M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058')
                path.line.line2(d='M 20,50 H 80')
                path.line.line3(d='M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942')
        #navbarText.collapse.navbar-collapse.ps-md-2
            ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-md-5.ps-md-4
                li.nav-item
                    a.nav-link(aria-current='page' href='#').active Home
                li.nav-item
                    a.nav-link(href='#') Servicios
                li.nav-item
                    a.nav-link(href='#') La Plataforma
                li.nav-item
                    a.nav-link(href='#') Blog 
                li.nav-item
                    a.nav-link(href='#') Ser iHunter
                li.nav-item.pt-4.d-md-none.pb-5
                    a(type='button' data-bs-toggle='dropdown' aria-expanded='false', style="z-index:1")
                        img(src="image/icono-globo-m.svg", alt="", srcset="")
                        span.ms-3 Español
                li.nav-item.d-md-none.border-top.border-bottom.mt-5.py-5
                    a.btn.btn-primary.my-5(href='#') Empezar ahora
                li.nav-item.d-md-none.mt-5.py-5
                    a(href="http://", target="_blank", rel="noopener noreferrer").pe-5
                        img(src="image/icono-linkedin-c.png", data-src="image/icono-linkedin-hover.png" alt="", srcset="").icono-social
                    a(href="http://", target="_blank", rel="noopener noreferrer").px-5.mx-5
                        img(src="image/icono-instagram-c.png", data-src="image/icono-instagram-hover.png" alt="", srcset="").icono-social
                    a(href="http://", target="_blank", rel="noopener noreferrer").ps-5
                        img(src="image/icono-facebook-c.png", data-src="image/icono-facebook-hover.png" alt="", srcset="").icono-social
 
            span.navbar-text.d-none.d-md-block
                ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-md-5.align-items-center
                    li.nav-item
                        a.nav-link(aria-current='page' href='#') Iniciar session
                    li.nav-item
                        .nav-link(href='#')
                            form(action="")
                                button.btn.btn-primary Empezar ahora
                    li.nav-item
                        .dropdown.align-items-center.d-flex
                            a#dropdownMenuButton1.dropdown-toggle(data-bs-toggle='dropdown' aria-expanded='false', style="z-index:1").position-absolute.after-none
                                img(src="image/icono-globo.svg", alt="", srcset="")
                                span.ms-2
                            ul.dropdown-menu.lang-list(aria-labelledby='dropdownMenuButton1' style="z-index:0")
                                li.justify-content-end.d-flex.pe-3.py-3
                                li.ps-4.active
                                    a.dropdown-item(href='#') ES
                                li.ps-4
                                    a.dropdown-item(href='#') EN



