script(src="js/popper-dist.js")
script(src="js/bootstrap.bundle-dist.js")
script(src="js/lottie-player-dist.js") 
script(src="js/aos-dist.js") 
script(src="js/lottie.min-dist.js")
script(src="js/lozad.min-dist.js")    
script(src="js/multilang-dist.js") 
block script
script(src="js/main.js")   