script(src='js/config.js'+version)
script(src='js/popper-dist.js'+version)
script(src='js/bootstrap.bundle-dist.js'+version)
script(src='js/lottie-player-dist.js'+version)
script(src='js/aos-dist.js'+version)
script(src='js/lottie.min-dist.js'+version)
script(src='js/lozad.min-dist.js'+version)
script(src='js/multilang-dist.js'+version)
block script
script(src='js/main.js'+version)