script(src="js/popper-dist.js?v=0.3")
script(src="js/bootstrap.bundle-dist.js?v=0.3")
script(src="js/lottie-player-dist.js?v=0.3") 
script(src="js/aos-dist.js?v=0.3") 
script(src="js/lottie.min-dist.js?v=0.3")
script(src="js/lozad.min-dist.js?v=0.3")    
script(src="js/multilang-dist.js?v=0.3") 
block script
script(src="js/main.js?v=0.3")   