doctype html
html(lang="en")
    block variables
    include ../components/_head
    block style
    body(style="overflow-y:hidden")
        main.pb-md-5
            block content
        include ../components/_script