doctype html
html(lang="en")
    block variables
    include ../components/_head
    block style
    body
        include ../components/_header
        main
            block content
        include ../components/_footer
        include ../components/_script