extends ../layouts/_main   
block variables 
    - 
        var page = {
            title: 'iHunt - Ser ihunter',
            description: 'En iHunt puedes ser parte de la mayor red de reclutamiento colaborativo, junto a más de 2500 reclutadores independientes que día a día están cambiando el paradigma del sourcing y el futuro de los Recursos Humanos.',
            keywords: "cuentra, economica, candidatos, efectiva, sistema, revolucionando, atracción, región",
            author: 'iHunt develop team'
        }; 
        var menu = {
            home: "",
            service: "",
            platform: "",
            blog: "active",
            ihunter: ""
        }    
block style
    link(rel="stylesheet", href="css/owl.carousel-dist.css")
    link(rel="stylesheet", href="css/owl.theme.default-dist.css")
    link(rel="stylesheet", href="css/owl.theme.green-dist.css")
block content 
    section#blog-detail-init
        .container
            .post-detail-container.col-md-9.mx-md-auto.mt-md-5.pt-md-5
                .post-detail-header
                    small 30 de Junio de 2022   
                    .row.mt-md-4.mt-0    
                        .col-md-6.order-md-1.order-2
                            .post-content-img 
                                img(src="image/example-img-card.png", alt="", srcset="")
                            div.pt-md-4.mt-md-4.d-md-none.d-flex.pt-5
                                a(href="http://", target="_blank", rel="noopener noreferrer")
                                    img(src="image/icono-linkedin-c.png", data-src="image/icono-linkedin-hover.png" alt="", srcset="").icono-social
                                a(href="http://", target="_blank", rel="noopener noreferrer").px-md-4
                                    img(src="image/icono-instagram-c.png", data-src="image/icono-instagram-hover.png" alt="", srcset="").icono-social
                                a(href="http://", target="_blank", rel="noopener noreferrer")
                                    img(src="image/icono-facebook-c.png", data-src="image/icono-facebook-hover.png" alt="", srcset="").icono-social
                        .col-md-6.order-md-2.order-1 
                            h1.text-primary.mt-md-4 5 formas en que la cultura de una empresa incide en las contrataciones
                            div.pt-md-4.mt-md-4.d-md-flex.d-none
                                a(href="http://", target="_blank", rel="noopener noreferrer")
                                    img(src="image/icono-linkedin-c.png", data-src="image/icono-linkedin-hover.png" alt="", srcset="").icono-social
                                a(href="http://", target="_blank", rel="noopener noreferrer").px-md-4
                                    img(src="image/icono-instagram-c.png", data-src="image/icono-instagram-hover.png" alt="", srcset="").icono-social
                                a(href="http://", target="_blank", rel="noopener noreferrer")
                                    img(src="image/icono-facebook-c.png", data-src="image/icono-facebook-hover.png" alt="", srcset="").icono-social
                .row.post-datail-body
                    p La cultura de una empresa es la forma en que los empleados interactúan entre sí, los hábitos y las normas de la actividad 
                        |diaria conforman la cultura de una empresa. Es la colección de personas, la visión y los valores lo que define la atmósfera en el lugar de trabajo y da forma a cuánto disfruta venir a trabajar. Algunas personas podrían decir que es la personalidad de su organización.
                    p Un estudio de Deloitte encontró que el 94 % de los ejecutivos y el 88 % de los empleados creen que una cultura distinta en el lugar de trabajo es un componente importante del éxito comercial. #[br]
                        | ¿Pero creemos que puede incidir además en la atracción de talento?
                        | Si, y vamos a exponer 5 puntos de cómo está íntimamente relacionado.
                    h4   01. Departamentos de selección correctamente motivados
                    p Una cultura empresarial positiva y bien alineada es un gran motivador. Si los analistas de selección sienten que son valorados como colaboradores estratégicos de la organización, es más probable que se sientan motivados y comprometidos para cumplir sus objetivos. 
                        |También funciona al revés. Digamos que la colaboración y el trabajo en equipo se han promocionado como el estilo de la empresa, sin embargo, el equipo de reclutamiento de personal solo es llamado para los proyectos en el último minuto y luego se lo trata como un obstáculo que se debe superar en lugar de un socio clave. Este ejemplo de desalineación cultural sin duda puede incidir en identificación, selección y contrataciones mucho menos efectivas.  
                    .img-content-post    
                        img(src="image/example-img-card-2.png", w alt="", srcset="", style="width: 412px !important;")
                    h4   02. Descripciones de búsquedas alineadas a la cultura de la empresa
                    p   Es muy común sentir que las descripciones de las vacantes se centran en capacidades y experiencia pero casi nunca detallan demasiado conceptos y valores esperados en relación a la cultura empresarial.
                    p   Hay que tener muy claro que adaptarse a la cultura organizacional existente requiere una mentalidad de empleado que esté dispuesta a aprender, adaptarse y encontrar una manera de trabajar en el nuevo entorno.
                    p   Si no logro transmitir de alguna forma la cultura de la empresa y lo que espero de un empleado para que pueda alinearse a la misma, luego puede ser menos efectiva la contratación y onboarding.    

        section#index-item-8.mt-md-5.pt-md-5.pb-md-5
            .container
                .pb-md-4
                    h2.text-primary.text-center.font-2-3-em-md.font-1-5-em  Últimos artículos
                .owl-carousel#owl-card-blog
                    a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="1000")
                        img(src='image/example-img-card.png' alt='example-img-card.png')
                        .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                            small.card-title 30 de Junio de 2022
                            p.card-text.mt-md-3.mt-5
                                | 5 formas en que la cultura de una empresa incide en las contrataciones
                    a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="2000")
                        img(src='image/example-img-card.png' alt='example-img-card.png')
                        .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                            small.card-title 30 de Junio de 2022
                            p.card-text.mt-md-3.mt-5
                                | 5 formas en que la cultura de una empresa incide en las contrataciones
                    a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="3000")
                        img(src='image/example-img-card.png' alt='example-img-card.png')
                        .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                            small.card-title 30 de Junio de 2022
                            p.card-text.mt-md-3.mt-4
                                | 5 formas en que la cultura de una empresa incide en las contrataciones          
block script

    script(src="js/jquery.min-dist.js") 
    script(src="js/owl.carousel.min-dist.js")