extends ../layouts/_main   
block variables 
    - 
        var page = {
            title: 'iHunt - Home',
            description: 'En cuentra candidatos de valor de forma simple, economica y efectiva. Conoce el sistema que esta revolucionando la atracción de talento en toda la región.',
            keywords: "cuentra, economica, candidatos, efectiva, sistema, revolucionando, atracción, región",
            author: 'iHunt develop team'
        }; 
        var menu = {
            home: "active",
            service: "",
            platform: "",
            blog: "",
            ihunter: ""
        }

block style
    link(rel="stylesheet", href="css/owl.carousel-dist.css")
    link(rel="stylesheet", href="css/owl.theme.default-dist.css")
    link(rel="stylesheet", href="css/owl.theme.green-dist.css")
block content 
    section#index-init.container
        .row
            div.col-12.col-md-5.pt-md-5.px-md-0.pt-5
                h1(data-aos="fade-down", data-aos-duration="1000").text-primary.font-2-5-em-lg.font-2-5-em-xxl.font-1-75-em.pt-md-5.mt-md-5.pt-5.mt-5.py-5.pb-md-0.multilanguage(data-lang-key="index.section-1.title") Encuentra #[strong.fw-bold candidatos de #[br]valor ] de forma simple,#[br] económica y efectiva
                p(data-aos="fade-up", data-aos-duration="3000").py-md-4.py-xxl-0.py-5.font-1-15-em-md.multilanguage(data-lang-key="index.section-1.copy") Conoce el sistema que esta revolucionando la #[br.d-md-block.d-none] atracción de talento en toda la región.
                button(data-aos="fade-up", data-aos-duration="3000").btn.btn-primary.px-5.px-md-4.mt-4.mt-md-4.multilanguage(data-lang-key="index.section-1.button")  Quiero una demo 
            div.col-12.col-md-7.pt-md-5.px-md-0.justify-content-end.d-flex.position-absolute-xs
                div.lottie-player(data-animation-path="image/animaciones/animacion-1/data.json" data-loop-start="42" data-loop-end="450").img-index-element-1-lg.img-index-element-1-xxl.d-md-flex.d-none
                lottie-player(src="image/animaciones/animacion-1-m/data.json"  background="transparent"  speed="1"  loop  autoplay).img-index-element-1-lg.img-index-element-1-xxl.d-md-none.d-flex

    section#index-item.container
        .row
            .col-12.col-md-4.pt-md-5(data-aos="flip-left", data-aos-easing="ease-out-cubic", data-aos-duration="1000")
                .card.px-md-5.pb-md-4.section-2-card-h.px-5
                    div.card-img-content-section-2
                        lottie-player(src="image/animaciones/lf20_d2xg1ucd.json",  background="transparent"  speed="1"  loop  autoplay).animation-section-2
                    div
                        h2.text-primary.multilanguage(data-lang-key="index.section-2.item-1.title") 10x más #[b.fw-bold rápido]
                        p.pt-md-3.pt-3.multilanguage(data-lang-key="index.section-2.item-1.copy")   Nuestro sistema que combina IA para el filtrado de currículums permite preseleccionar candidatos en solo 5 días hábiles.
            .col-12.col-md-4.pt-md-5(data-aos="flip-left", data-aos-easing="ease-out-cubic", data-aos-duration="1000")
                .card.px-md-5.pb-md-4.section-2-card-h
                    div.card-img-content-section-2
                        lottie-player(src="image/animaciones/lf20_br3hefsj.json",  background="transparent"  speed="1"  loop  autoplay).animation-section-2
                    div 
                        h2.text-primary.multilanguage(data-lang-key="index.section-2.item-2.title") 10x más #[b.fw-bold económico]
                        p.pt-md-3.multilanguage(data-lang-key="index.section-2.item-2.copy") Nuestra herramienta es hasta 10 veces más económica que cualquier servicio de consultoría.
            .col-12.col-md-4.pt-md-5(data-aos="flip-left", data-aos-easing="ease-out-cubic", data-aos-duration="1000")
                .card.px-md-5.pb-md-4.section-2-card-h
                    div.card-img-content-section-2
                        lottie-player(src="image/animaciones/lf20_eu8fi5g3.json",  background="transparent"  speed="1"  loop  autoplay).animation-section-2
                    div    
                        h2.text-primary.multilanguage(data-lang-key="index.section-2.item-3.title") 10x más #[b.fw-bold efectivo]
                        p.pt-md-3.multilanguage(data-lang-key="index.section-2.item-3.copy") Con alcance a más de 31 países, aseguramos una shortlist de talento a medida de tus necesidades.
    section#index-item-2.mt-md-5.pt-md-5.container.pb-md-1
        .col-md-10.mx-auto.card.my-md-5.my-5( data-aos="flip-up", data-aos-duration="1000")
            .row.row-cols-md-4.row.row-cols-2.p-5
                .justify-content-center.d-grid(data-aos="fade-down", data-aos-duration="1300")
                    img(src="image/index-section-3-icono-1.png", alt="", srcset="").mx-auto
                    div.text-center.mt-md-3 
                        h2.fw-bold.text-primary 2.700
                        p.mt-md-n3.multilanguage(data-lang-key="index.section-3.item-1")   iHunters
                .justify-content-center.d-grid(data-aos="fade-down", data-aos-duration="1600") 
                    img(src="image/index-section-3-icono-2.png", alt="", srcset="").mx-auto
                    div.text-center.mt-md-3 
                        h2.fw-bold.text-primary 15.890
                        p.mt-md-n3.multilanguage(data-lang-key="index.section-3.item-2")    Vacantes resueltas
                .justify-content-center.d-grid(data-aos="fade-down", data-aos-duration="1900") 
                    img(src="image/index-section-3-icono-3.png", alt="", srcset="").mx-auto
                    div.text-center.mt-md-3 
                        h2.fw-bold.text-primary 213
                        p.mt-md-n3.multilanguage(data-lang-key="index.section-3.item-3")    Clientes
                .justify-content-center.d-grid(data-aos="fade-down", data-aos-duration="2000") 
                    img(src="image/index-section-3-icono-4.png", alt="", srcset="").mx-auto
                    div.text-center.mt-md-3 
                        h2.fw-bold.text-primary 10
                        p.mt-md-n3.multilanguage(data-lang-key="index.section-3.item-4")    Países
    section#index-item-3.mt-md-5.d-inline-flex.align-items-center.justify-content-center
        .container.px-md-0
            img(src="image/index-elemento-41.svg", alt="", srcset="").col-md-12.px-md-0.d-md-block.d-none
            img(src="image/index-elemento-4-m.svg", alt="", srcset="").col-md-12.px-md-0.d-md-none.d-block
        .container.position-absolute.mx-auto.absolute-center
            .row.row-cols-md-2.col-md-10.mx-auto.row-cols-1
                .col.align-items-md-center.d-md-grid(data-aos="fade-up", data-aos-duration="1000")
                    h2.text-white.font-1-7-em-lg.font-1-75-em.multilanguage(data-lang-key="index.section-4.title") El mejor aliado de los#[br.d-md-block.d-none] departamentos de #[br.d-md-block.d-none] Recursos Humanos
                .col(data-aos="fade-up", data-aos-duration="1000")
                    p.text-white.multilanguage(data-lang-key="index.section-4.copi-1") Cumple con tus objetivos de selección de personal #[br.d-md-block.d-none] en tiempo y forma.
                    p.text-white.multilanguage(data-lang-key="index.section-4.copi-2") iHunt te ayuda a hacer match con candidatos de #[br.d-md-block.d-none] alto potencial para tus vacantes.
                    a.btn.btn-outline-light.mt-md-4.multilanguage(data-lang-key="index.section-4.button")    Quiero una demo
    section#index-item-5.mt-md-5.pt-md-5.container.contain-layout
        .row.row-cols-md-3.row-cols-1.align-items-center.mt-md-5.pt-md-5
            .col-md-5.col.order-3.order-md-1
                .lozad(data-src="image/animaciones/lf20_qwxjwzkp.json", data-type="lottiefiles", data-name="placa1", data-loop-start="118", data-loop-end="592")
            .col-md-1.d-md-flex.d-none.order-md-2.order-2 
            .col-md-6.col.order-1.order-md-3(data-aos="fade-up", data-aos-duration="1000")
                h2.text-primary.multilanguage(data-lang-key="index.section-5.item-1.title")  Resolvemos lo más importante
                p.mt-md-4.pt-md-2.multilanguage(data-lang-key="index.section-5.item-1.copy")   Nos hacemos cargo del #[b sourcing:] lo mas difícil y a la vez lo #[br.d-md-block.d-none] mas importante de la atracción de talento.
        .row.row-cols-md-2.row-cols-1.align-items-center.mt-md-5.pt-md-5
            .col(data-aos="fade-up", data-aos-duration="1000")
                .col-md-10.ms-md-auto
                    h2.text-primary.multilanguage(data-lang-key="index.section-5.item-2.title")  Sourcing Activo
                    p.mt-md-4.pt-md-2.multilanguage(data-lang-key="index.section-5.item-2.copy-1")   Multiplica la calidad de tus procesos de selección a #[br.d-md-block.d-none] través de nuestro sistema de Sourcing Activo.
                    p.multilanguage(data-lang-key="index.section-5.item-2.copy-2")   Combinamos algoritmos de #[b Inteligencia Artificial y#[br.d-md-block.d-none] Economías Colaborativas,] para que puedas obtener #[br.d-md-block.d-none] una lista de candidatos de valor hasta 10 veces más #[br.d-md-block.d-none] rápida y efectiva.
            .col
                .col-md-10.ms-md-auto.ps-md-5
                    .lozad(data-src="image/animaciones/animacion-red-perfil/data.json", data-type="lottiefiles", data-name="placa2", data-loop-start="0", data-loop-end="592")

        .row.row-cols-md-2.row-cols-1.align-items-center.mt-md-5.pt-md-5
            .col-md-5.col.order-3.order-md-1
                .lozad(data-src="image/animaciones/animacion-planeta/data.json"  , data-type="lottiefiles", data-name="placa3", data-loop-start="57", data-loop-end="291")#index-item-5-animation-3
            .col-md-1.d-md-flex.d-none.order-md-2.order-2 
            .col-md-6.col.order-1.order-md-3(data-aos="fade-up", data-aos-duration="1000")
                h2.text-primary.multilanguage(data-lang-key="index.section-5.item-3.title")   Alcance regional
                p.mt-md-4.pt-md-2.multilanguage(data-lang-key="index.section-5.item-3.copy-1")   Encuentra el mejor talento para tus ofertas de empleo #[br.d-md-block.d-none] #[b sin importar] dónde.
                p.multilanguage(data-lang-key="index.section-5.item-3.copy-2")   Tenemos cobertura efectiva en toda la región.    
        .row.row-cols-md-2.row-cols-1.align-items-center.mt-md-5.pt-md-5
            .col 
                .col-md-10.ms-md-auto
                    h2.text-primary(data-aos="fade-up", data-aos-duration="1000").multilanguage(data-lang-key="index.section-5.item-4.title")  Filtrado inteligente
                    p.mt-md-4.pt-md-2(data-aos="fade-up", data-aos-duration="1000").multilanguage(data-lang-key="index.section-5.item-4.copy-1")   Nuestros algoritmos permiten acelerar el proceso #[br.d-md-block.d-none] de preselección de candidatos de manera #[br.d-md-block.d-none] exponencial.
                    p.multilanguage(data-lang-key="index.section-5.item-4.copy-2")   #[b Tu empresa ahorrará hasta 30x de tiempo] en #[br.d-md-block.d-none] identificar candidatos de valor.
            .col
                img(src="image/index-section-5-img-4.png", alt="", srcset="", loading="lazy")
        .justify-content-center.d-flex.mt-md-5(data-aos="fade-up", data-aos-duration="1000")
            a.btn.btn-primary.mx-auto.multilanguage(data-lang-key="index.section-5.button") Quiero una demo    
    section#index-item-6.mt-md-5.pt-md-5.d-flex.justify-content-center
        img(src="image/index-elemento-6.svg", alt="", srcset="").col-md-12.px-md-0.mx-auto.d-md-block.d-none
        img(src="image/index-elemento-6-m.svg", alt="", srcset="").col-md-12.px-md-0.mx-auto.d-md-none.d-block
        .container.position-absolute.mx-auto.absolute-center.mt-md-5.pt-md-5
            h2.text-center.text-primary.mt-md-5.pt-md-2.font-2-5-em-lg(data-aos="flip-up", data-aos-duration="2000").multilanguage(data-lang-key="index.section-6.title") Impactando en la productividad de#[br] #[strong  +200 compañías]
            div#owl-logos.owl-carousel.col-md-8.mx-auto.mt-md-5.pt-md-5.mx-md-auto(data-aos="flip-up", data-aos-duration="2000")
                img(src="image/logos-slider/Logos-01.svg", alt="").col
                img(src="image/logos-slider/Logos-02.svg", alt="").col
                img(src="image/logos-slider/Logos-03.svg", alt="").col
                img(src="image/logos-slider/Logos-04.svg", alt="").col
                img(src="image/logos-slider/Logos-05.svg", alt="").col
                img(src="image/logos-slider/Logos-06.svg", alt="").col
                img(src="image/logos-slider/Logos-07.svg", alt="").col
                img(src="image/logos-slider/Logos-08.svg", alt="").col
                img(src="image/logos-slider/Logos-09.svg", alt="").col
                img(src="image/logos-slider/Logos-10.svg", alt="").col
                img(src="image/logos-slider/Logos-11.svg", alt="").col
                img(src="image/logos-slider/Logos-12.svg", alt="").col
            div#owl-logos-2.owl-carousel.col-md-8.mx-auto.my-md-5.py-md-3.mx-md-auto(data-aos="flip-up", data-aos-duration="2000") 
                img(src="image/logos-slider/Logos-13.svg", alt="").col
                img(src="image/logos-slider/Logos-14.svg", alt="").col
                img(src="image/logos-slider/Logos-15.svg", alt="").col
                img(src="image/logos-slider/Logos-16.svg", alt="").col
                img(src="image/logos-slider/Logos-17.svg", alt="").col
                img(src="image/logos-slider/Logos-18.svg", alt="").col
                img(src="image/logos-slider/Logos-19.svg", alt="").col
                img(src="image/logos-slider/Logos-20.svg", alt="").col
                img(src="image/logos-slider/Logos-21.svg", alt="").col
                img(src="image/logos-slider/Logos-22.svg", alt="").col
                img(src="image/logos-slider/Logos-23.svg", alt="").col
                img(src="image/logos-slider/Logos-24.svg", alt="").col
            br
            br
            div#owl-person.owl-carousel.col-md-10.mx-auto.mt-md-5.pt-md-3.background-img.pt-md-5.mt-md-5(data-aos="fade-left", data-aos-duration="2000") 
                .row.align-items-center.justify-content-between.pt-md-4
                    .col-md-4 
                        img(src="image/isidora-valdes.jpeg", alt="", srcset="").img-testimonials
                    .col-md-7.col-11.mx-auto
                        div.multilanguage(data-lang-key="index.testimonials.item1.description") 
                            p   Destaco los tiempos de iHunt. #[br]
                            p   Hay muchos cargos para los que uno requiere una búsqueda rápida, y no  
                                |por ello "mal hecha". Destaco que operan digitalmente, sus tarifas y 
                                |diversidad de candidatos. Me ha llamado mucho la atención la cantidad 
                                |de personas idóneas que existen para EOX gracias a iHunt.
                        div.mt-md-5.px-0 
                            h5.fw-bold.multilanguage(data-lang-key="index.testimonials.item1.name")  Isidora Valdés
                            p #[i.multilanguage(data-lang-key="index.testimonials.item1.position") CEO - EOX Spa]
    section#index-item-7.mt-md-5.d-flex.justify-content-center.align-items-center(data-aos="flip-up", data-aos-duration="2000")
        .container.px-md-0.mt-md-n3
            img(src="image/index-elemento-7.png", alt="", srcset="").col-md-12.px-md-0.d-md-block.d-none
            img(src="image/index-elemento-7-m.png", alt="", srcset="").col-md-12.px-md-0.d-md-none.d-block
        .container.position-absolute.mx-auto.absolute-center
            .row.row-cols-md-2.col-md-10.mx-auto
                .col-md-5.d-md-block.d-none
                .col-md.ps-md-5
                    div 
                        h2.text-primary.multilanguage(data-lang-key="index.section-7.title") El talento superior es hasta #[br.d-md-block.d-none]
                            | #[span.fw-bold 8X más productivo]
                        p.text-primary.my-md-4.fw-bold.multilanguage(data-lang-key="index.section-7.fecha") McKinney, 2021
                    div
                        p.text-white.multilanguage(data-lang-key="index.section-7.copy") Publicando tus ofertas de empleo en nuestra plataforma permitirá que #[br.d-md-none.d-none] encuentres #[strong.fw-bold candidatos de valor en tiempo y forma.  en tiempo y forma.]
                        a.btn.btn-primary.mt-md-5.multilanguage(data-lang-key="index.section-7.button")    Quiero una demo 
    section#index-item-8.mt-md-5.pt-md-5.pb-md-5
        .container
            .pb-md-4
                h2.text-primary.text-center.font-2-3-em-md.font-2-18-em.multilanguage(data-lang-key="index.section-8.title")   #iHuntBlog
                p.text-center.md-md-5.mt-md-4.multilanguage(data-lang-key="index.section-8.copy") Todos los meses nuevos artículos sobre las temáticas más #[br.d-md-block.d-none] relevantes del mundo de los RRHH y la atracción de talento.
            .owl-carousel#owl-card-blog
                a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="1000")
                    img(src='image/example-img-card.png' alt='example-img-card.png')
                    .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                        small.card-title 30 de Junio de 2022
                        p.card-text.mt-md-3.mt-5
                            | 5 formas en que la cultura de una empresa incide en las contrataciones
                a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="2000")
                    img(src='image/example-img-card.png' alt='example-img-card.png')
                    .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                        small.card-title 30 de Junio de 2022
                        p.card-text.mt-md-3.mt-5
                            | 5 formas en que la cultura de una empresa incide en las contrataciones
                a(href="./blog-detail.html", target="_blank", rel="noopener noreferrer").card.card-blog-a(data-aos="flip-right",  data-aos-duration="3000")
                    img(src='image/example-img-card.png' alt='example-img-card.png')
                    .card-body.card-body-blog.px-md-5.px-xxl-4.pb-md-5
                        small.card-title 30 de Junio de 2022
                        p.card-text.mt-md-3.mt-4
                            | 5 formas en que la cultura de una empresa incide en las contrataciones


block script
    script(src="js/jquery.min-dist.js") 
    script(src="js/owl.carousel.min-dist.js") 