extends ../layouts/_main   
block variables 
    - 
        var page = {
            title: 'iHunt - Ser ihunter',
            description: 'En iHunt puedes ser parte de la mayor red de reclutamiento colaborativo, junto a más de 2500 reclutadores independientes que día a día están cambiando el paradigma del sourcing y el futuro de los Recursos Humanos.',
            keywords: "cuentra, economica, candidatos, efectiva, sistema, revolucionando, atracción, región",
            author: 'iHunt develop team'
        }; 
        var menu = {
            home: "",
            service: "",
            platform: "",
            blog: "",
            ihunter: ""
        }    
block style
    link(rel="stylesheet", href="css/owl.carousel-dist.css"+version)
    link(rel="stylesheet", href="css/owl.theme.default-dist.css"+version)
    link(rel="stylesheet", href="css/owl.theme.green-dist.css"+version)
block content 
    section#join-ihunt-section-init.d-flex
        img(src="image/join-ihunt-section-init-img.svg", alt="").d-md-block.d-none
        .container.position-absolute.mx-auto.absolute-center
            .card.p-md-5.col-md-8.mx-md-auto
                h1.text-center.text-primary(data-aos="fade-down", data-aos-duration="1000").multilanguage(data-lang-key="join-ihunter.section-1.title") ¡Súmate como iHunter!
                p.text-center(data-aos="fade-up", data-aos-duration="2000").multilanguage(data-lang-key="join-ihunter.section-1.copy") Por favor te solicitamos completar todos los datos #[br.d-md-block.d-none] y nos podremos en contacto.
                form(action="").mt-md-5.pt-md-3#join-ihunt-form.col-md-10.mx-md-auto
                    div(data-aos="fade-up", data-aos-duration="2000") 
                        div.justify-content-between.d-flex     
                            label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.email") EMAIL]
                        input.form-control#email(type="email" name="email" placeholder="juanprueba@gmail.com")
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000") 
                        div.justify-content-between.d-flex 
                            label(for="").ps-md-4.ps-3.col-md-6 #[small.multilanguage(data-lang-key="join-ihunter.section-1.email_confirm") CONFIRMA TU EMAIL]
                        input.form-control(type="email" name="email_confirm" placeholder="juanprueba@gmail.com").multilanguage(data-lang-key="join-ihunter.section-1.email_confirm") 
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000") 
                        div.justify-content-between.d-flex 
                            //- label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.full-name") Nombre y apellido]
                        input.form-control(type="text" name="full_name" placeholder="Nombre y apellido").multilanguage(data-lang-key="join-ihunter.section-1.full-name")
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000")
                        div.justify-content-between.d-flex 
                            //- label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.phone") Teléfono] 
                        input.form-control(type="text" name="phone" placeholder="Teléfono con código país")
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000")
                        div.justify-content-between.d-flex 
                            //-label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.linkeding") Linkedin]  
                        input.form-control(type="text" name="linkeding" placeholder="Linkedin (URL perfil)").multilanguage(data-lang-key="join-ihunter.section-1.linkeding")
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000")
                        div.justify-content-between.d-flex 
                            //-label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.county") País]  
                        input.form-control(type="text" name="country" placeholder="Pais").multilanguage(data-lang-key="join-ihunter.section-1.county")
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000").input-password
                        div.justify-content-between.d-flex 
                            //-label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.password") Contraseña]   
                        input.form-control#password(type="password" name="password" placeholder="Contraseña").multilanguage(data-lang-key="join-ihunter.section-1.password")
                        img(src="image/eyes-icon.png", alt="").view-password
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000").input-password 
                        div.justify-content-between.d-flex
                            //-label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="join-ihunter.section-1.password_confirm") Repetir contraseña] 
                        input.form-control(type="password" name="password_confirm" placeholder="Repetir contraseña").multilanguage(data-lang-key="join-ihunter.section-1.password_confirm")
                        img(src="image/eyes-icon.png", alt="").view-password
                    .form-check.mt-md-5(data-aos="fade-up", data-aos-duration="2000") 
                        input#flexCheckDefault.form-check-input(type='checkbox' value='')
                        label.form-check-label(for='flexCheckDefault').multilanguage(data-lang-key="join-ihunter.section-1.terms")
                            | Acepto los #[a(href="./terms-conditions.html") términos y condiciones]
                    div.mt-md-5(data-aos="fade-up", data-aos-duration="2000") 
                        button(type="submit", disabled).btn.btn-primary.send.multilanguage(data-lang-key="join-ihunter.section-1.button") ¡Enviar ahora!
                    div
                        img(src="image/form-bottom.svg", alt="", srcset="").form-img-bottom


    
    section#join-ihunt-section-2.pb-md-5
        .container.pb-md-5
            h2.text-primary.text-md-center.font-2-2-em-md.font-1-8-em.multilanguage(data-lang-key="join-ihunter.section-2.title") ¿Cómo funciona?
            .row.row-cols-lg-3.row-cols-md-2.row-cols-1.grid-como-funciona.pb-md-5
                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 01
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_j6nswavh.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-1.title") Sign-in
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-1.copy") Te registras en la plataforma de iHunt
                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 02
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_rhvdwf12.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-2.title") Capacitación
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-2.copy") Participas de una capacitación online sin costo

                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 03
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_mr0tq8qh.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-3.title") Acceso
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-3.copy") Recibes el acceso a nuestra plataforma

                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 04
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_bbqhtya5.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-4.title") Activas
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-4.copy") Revisas, compartes y activas las búsquedas de tu interés

                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 05
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_wbm4zsdg.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-5.title") Vinculado
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-5.copy") Cada candidato queda vinculado a tu código en cada búsqueda

                .col.my-md-3
                    .card
                        h3.fw-bold.text-primary 06
                        .row.mt-md-4 
                            .col-md-5.col-5
                                .lozad(data-src="image/animaciones/lf20_2bznhvsj.json" , data-type="lottiefiles").animation-icon-ser-ihunter-section-3
                            .col-md-7.col-7 
                                h5.multilanguage(data-lang-key="join-ihunter.section-2.item-6.title") Cobras!
                                p.multilanguage(data-lang-key="join-ihunter.section-2.item-6.copy") Recibes ingresos cada vez que el cliente selecciona tu candidato
  
block script

    script(src="js/jquery.min-dist.js"+version)
    script(src="js/owl.carousel.min-dist.js"+version)
    script(src="js/jquery.validate.min-dist.js"+version)
    script(src="js/validate-ihunter.js"+version)