extends ../layouts/_login 
block variables 
    - 
        var page = {
            title: 'iHunt - Login',
            description: 'En cuentra candidatos de valor de forma simple, economica y efectiva. Conoce el sistema que esta revolucionando la atracción de talento en toda la región.',
            keywords: "cuentra, economica, candidatos, efectiva, sistema, revolucionando, atracción, región",
            author: 'iHunt develop team'
        }; 

block style
    link(rel="stylesheet", href="css/owl.carousel-dist.css")
    link(rel="stylesheet", href="css/owl.theme.default-dist.css")
    link(rel="stylesheet", href="css/owl.theme.green-dist.css")
block content 
    section#login-init
        .d-md-flex.col-md-12.px-md-0.mx-md-0 
            .col-md-6.px-md-0.mx-md-0.d-none.d-md-block  
                img(src="image/login-img.png", alt="", srcset="").img-login
            .col-md-6.px-md-0.mx-md-0.col-12 
                .login-header
                    .col-md-7.mx-md-auto
                        .border-bottom.py-md-5
                            img(src="image/logo.svg")
                .login-body
                    .col-md-7.mx-md-auto
                        h4.text-primary.mt-md-5.pt-md-3 Iniciar sesión
                        form(action="").mt-md-5.pt-md-3
                            div
                                div.justify-content-between.d-flex     
                                    label(for="").ps-md-4.ps-3.col-md-6  #[small EMAIL]
                                input.form-control(type="email" name="email" placeholder="juanprueba@gmail.com")
                            div.mt-md-5(data-aos="fade-left", data-aos-duration="2000").input-password
                                div.justify-content-between.d-flex 
                                    //-label(for="").ps-md-4.ps-3.col-md-6  #[small Contraseña]   
                                input.form-control(type="password" name="password" placeholder="Contraseña")
                                img(src="image/eyes-icon.png", alt="").view-password 
                            button(type="submit").btn.btn-primary.mt-md-5 Ingresar
                            div.mt-md-4 
                                a(href="")  Recuperar contraseña



block script
    script(src="js/jquery.min-dist.js") 
    script(src="js/owl.carousel.min-dist.js") 