extends ../layouts/_login 
block variables 
    - 
        var page = {
            title: 'iHunt - Login',
            description: 'En cuentra candidatos de valor de forma simple, economica y efectiva. Conoce el sistema que esta revolucionando la atracción de talento en toda la región.',
            keywords: "cuentra, economica, candidatos, efectiva, sistema, revolucionando, atracción, región",
            author: 'iHunt develop team'
        }; 

block style
    link(rel="stylesheet", href="css/owl.carousel-dist.css")
    link(rel="stylesheet", href="css/owl.theme.default-dist.css")
    link(rel="stylesheet", href="css/owl.theme.green-dist.css")
block content 
    section#login-init
        .row 
            .col-md-6.px-md-0.mx-md-0.d-none.d-md-block  
                img(src="image/register-img.png", alt="", srcset="").img-login
            .col-md-6.px-md-0.mx-md-0.col-12 
                .login-header
                    .col-md-10.mx-md-auto
                        .border-bottom.py-md-5
                            img(src="image/logo.svg")
                .login-body
                    .col-md-10.mx-md-auto
                        h4.text-primary.mt-md-5.pt-md-3.multilanguage(data-lang-key="register.title") Registrarme
                        p.multilanguage(data-lang-key="register.copy") Ingresa el email con el que quieres registrarte y la contraseña. #[br.d-md-block.d-none]
                            | La misma debe tener al menos 8 caracteres, minúscula, mayúscula y al#[br.d-md-block.d-none] menos un número.
                        form(action="").mt-md-5.pt-md-3
                            div
                                div.justify-content-between.d-flex     
                                    label(for="").ps-md-4.ps-3.col-md-6  #[small.multilanguage(data-lang-key="register.email") EMAIL]
                                input.form-control(type="email" name="email" placeholder="juanprueba@gmail.com")
                            div.mt-md-4.input-password
                                div.justify-content-between.d-flex 
                                input.form-control(type="password" name="password" placeholder="Contraseña").multilanguage(data-lang-key="register.password")
                                img(src="image/eyes-icon.png", alt="").view-password
                            div.mt-md-4.input-password 
                                div.justify-content-between.d-flex
                                input.form-control(type="password" name="password_confirm" placeholder="Repetir contraseña").multilanguage(data-lang-key="register.password_confirm")
                                img(src="image/eyes-icon.png", alt="").view-password
                            .form-check.mt-md-5
                                input#flexCheckDefault.form-check-input(type='checkbox' value='')
                                label.form-check-label(for='flexCheckDefault').multilanguage(data-lang-key="register.terms")
                                    | Acepto los #[a(href="./terms-conditions.html", target="_blank", rel="noopener noreferrer") términos y condiciones]

                            button(type="submit").btn.btn-primary.mt-md-5.multilanguage(data-lang-key="register.register") Registrarme



block script
    script(src="js/jquery.min-dist.js") 
    script(src="js/owl.carousel.min-dist.js") 